@page "/register"

@using static System.Net.WebRequestMethods;

@inject IAuthService AuthService
@inject HttpClient Http
@inject ILocalStorageService LocalStorage
@inject NavigationManager NavigationManager

<h3>Register User</h3>

<html>
<head>
    <link rel="stylesheet" type="text/css" href="~/" />

    <title>Maleldil</title>
</head>

<body>
    <EditForm Model="user" OnValidSubmit="RegisterNewUser">
        
        <div class="form-control">
            <label for="username">Enter your email...</label>
            <InputText id="email" @bind-Value="user.Email" class="form-control" />
        </div>
        <div class="form-control">
            <label for="password">Enter Password...</label>
            <InputText id="password" @bind-Value="user.Password" type="password" />
        </div>
        <div class="form-control">
            <label for="password">Confirm Password...</label>
            <InputText id="password" @bind-Value="user.ConfirmPassword" type="password" />
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        <div class="text-danger">
            <span>@message</span>
        </div>
        
    </EditForm>
</body>
</html>

@code {
    UserRegisterDTO user = new();

    string message = string.Empty;
    string messageCssClass = string.Empty;

    async Task RegisterNewUser()
    {
        var result = await AuthService.Register(user);
        message = result.Message;
        if (result.Success)
            messageCssClass = "text-success";
        else
            messageCssClass = "text-danger";

    }


}
