@page "/"
@page "/search/{searchText}/{page:int}"
@page "/{categoryUrl}"

@inject IProductService ProductService


<PageTitle>Maleldil</PageTitle>

<Microsoft.AspNetCore.Components.Authorization.AuthorizeView>
    <NotAuthorized>
        <center><h5>Welcome, guest!</h5></center>
    </NotAuthorized>
    <Authorized>
        <center><h5>Welcome back, @context.User.Identity.Name!</h5></center>
    </Authorized>
</Microsoft.AspNetCore.Components.Authorization.AuthorizeView>

@if(SearchText == null && CategoryUrl == null)
{
    <FeaturedProducts />
}
else
{
    <ProductList></ProductList>

}



@code{
    [Parameter]
    public string? CategoryUrl { get; set; } = null;
    [Parameter]
    public string? SearchText { get; set; } = null;
    [Parameter]
    public int Page { get; set; } = 1;

    protected override async Task OnParametersSetAsync()
    {
        if(SearchText != null)
        {
            await ProductService.SearchProducts(SearchText, Page);
        }
        else
        {
            await ProductService.GetProducts(CategoryUrl);
        }
        await ProductService.GetProducts(CategoryUrl);
    }
}